*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height: 10vh;
}
.svg{
    width: 2rem;
    fill: rgb(255, 30, 0);
}
.cart{
    position: relative;
}
.nav-amount{
    position: absolute;
    right: -35%;
    top:-50%;
}
.main-container,.btnDiv{
   max-width: 50rem;
}
.img-div img{
    width: 100%;
    max-width: 140px;
    max-height: 10rem;
}